<div class="row">
  <div class="col-xs-12">
    <mat-form-field class="example-full-width" appearance="fill" color="accent" style="width: 100% !important">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Eg infy, reliance">
    </mat-form-field>
    <mat-action-list>
      <mat-divider></mat-divider>
      <button mat-list-item class="mat-primary" *ngFor="let stock of stocks" (click)="onClick(stock.scripName)">
        <h4 matLine>{{ stock.scripName }}</h4>
        <p matLine [style.fontSize]="'12px'">{{ stock.companyName }}</p>
        <span class="flexExpand"></span>
        <span><h4
              matLine
              [ngClass]="{'profit': stock.dailyProfit, 'loss': !stock.dailyProfit}">
              ₹{{ stock.cmp }}
              </h4>
        </span>
        <mat-divider></mat-divider>
      </button>
    </mat-action-list>
  </div>
</div>

